<div class="row">


    <div class="col-xs-12 col-md-8">
        <div class="text-info">
            <h1>Cities</h1>
        </div>
        <div class="slide-text">
            <ul>
                <li ng-repeat="city in citiesVM.cities | orderBy:'name'">
                    <span><a ng-click="citiesVM.edit(city)">{{city.name}}</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="text-info">
        <h1>Add or Edit City</h1>
        </div>
        <city-form city="citiesVM.city" create="citiesVM.create()" upadate="citiesVM.update()" remove="citiesVM.remove()"></city-form>
    </div>
</div>
