<form class="tag-form row" name="tagform">
    <span class="tag_id id">{{$ctrl.item.id}}</span>
    <span class="invalid">{{$ctrl.item.errors.full_messages}}</span>

    <div class="tag-name row col-lg-12">
        <label class="col-xs-3">Name:</label>
        <input class="col-xs-9"
               name="tag-name"
               data-ng-model="$ctrl.item.name"
               ng-readonly="!$ctrl.authz.canUpdate"
               required="required"
               maxlength="40"
               pattern=".{3,}" title="3 character minimum for Name"/>
        <span class="invalid">{{$ctrl.item.errors.name}}</span>
    </div>

    <!--<div class="tag-desc row col-lg-12"
         ng-show="tagform.$valid">
        <label class="col-xs-3">Description:</label>
        <textarea class="col-xs-9"
                  name="tag-desc"
                  ng-model="$ctrl.item.description"
                  ng-readonly="!$ctrl.authz.canUpdate"
                  type="text"
                  size="80"
                  maxlength="4000"/>
        <span class="invalid">{{$ctrl.item.errors.description}}</span>
    </div>

    <div class="tag-notes row col-lg-12"
         ng-show="$ctrl.authz.canGetDetails && tagform.$valid">
        <label class="col-xs-3">Notes:</label>
        <textarea class="col-xs-9"
                  name="tag-notes"
                  ng-model="$ctrl.item.notes"
                  ng-readonly="!$ctrl.authz.canUpdate"
                  type="text"
                  size="80"
                  maxlength="4000"/>
        <span class="invalid">{{$ctrl.item.errors.notes}}</span>
    </div>-->

    <div class="image-things row col-lg-12"
         ng-show="$ctrl.item.id">
        <label class="col-xs-3">Related Things:</label>
        <ul class="image-things col-xs-9">
            <li ng-repeat="ti in $ctrl.things | orderBy:'priority'">
                <a data-ui-sref="things({id:ti.thing_id})">
                    <span class="id thing_id">{{ti.thing_id}}</span>
                    {{ti.thing_name}}</a>
            </li>
        </ul>
        <span class="invalid">{{$ctrl.item.errors.thing_images}}</span>
    </div>

    <div class="tag-controls"
         ng-show="$ctrl.authz.authenticated">
        <button ng-show="!$ctrl.item.id && $ctrl.authz.canCreate"
                name="tag-create"
                ng-disabled="tagform.$invalid"
                type="submit"
                ng-click="$ctrl.create()">Create Tag</button>

        <div ng-show="$ctrl.item.id">
      <span class="tag-modify"
            data-ng-hide="!$ctrl.authz.canUpdate &&
                          !$ctrl.authz.canUpdateImage &&
                          !$ctrl.authz.canRemoveImage">
        <button name="tag-update"
                type="submit"
                ng-disabled="tagform.$invalid || !tagform.$dirty"
                data-ng-hide="$ctrl.haveDirtyLinks() &&
                  (!tagform['tag-name'].$dirty &&
                   !tagform['tag-desc'].$dirty &&
                   !tagform['tag-notes'].$dirty)"
                ng-click="$ctrl.update()">Update Tag</button>
        <button name="tag-images-update"
                type="submit"
                data-ng-show="$ctrl.haveDirtyLinks() &&
                  (!tagform['tag-name'].$dirty &&
                   !tagform['tag-desc'].$dirty &&
                   !tagform['tag-notes'].$dirty)"
                ng-click="$ctrl.updateImageLinks()">Update Image Links</button>
      </span>

            <button name="tag-delete"
                    type="submit"
                    ng-show="$ctrl.authz.canDelete"
                    ng-click="$ctrl.remove()">Delete Tag</button>
            <button name="image-clear"
                    type="submit"
                    ng-click="$ctrl.clear()">Clear Tag</button>
        </div>
    </div>
</form>